body {
    background-color: white;
}

section.header {
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

section.content {
    margin-top: 14px;
}

.mobile-nav {
    text-align: center;
}

.menu-icon {
    float: left;
    margin-top: 35px;
}

.shopping-cart {
    float: right;
    margin-top: 29px;
}

span.login a {
    font-family: Avenir-Book, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #000000;
    float: right;
    padding-right: 54px;
    margin-top: 33px;
    display: inline-block;
    text-decoration: none;
}

span.login a:hover {
    text-decoration: underline;
    color: #f5a623;
}

.logo {
    font-family: Avenir, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    color: #f5a623;
    padding-top: 20px;
    display: inline-block;
}

input.search-field {
    width: 300px;
    height: 36px;
    border-radius: 18px;
    font-family: Avenir-Book, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #000000;
    margin-top: 22px;
    border: none;
    background: url("../img/search.png") no-repeat rgba(245, 165, 35, 0.21) left center;
    background-position: 15px;
    padding-left: 30px;
}

input.search-field:focus {
    border: none;
}

.desktop-nav {
    display: none;
}

.mobile-dropdown-link {
    font-family: Avenir-Book, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
}

.mobile-dropdown-link:after {
    padding-left: 10px;
    margin-bottom: 2px;
    content: url("../img/down.png");
}

.left {
    float: left;
}

.right {
    float: right;
}

@media (min-width: 1000px) {
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        display: block;
    }
}